P { 
   margin-left:5.75pt; 
   margin-right:6.50pt; 
   margin-top:4.00pt; 
   margin-bottom:1; 
   font-family:Arial; 
   font-size:10pt;  }
H1 { 
    margin-left:5.65pt; 
    margin-right:6.50pt; 
    margin-top:6.00pt; 
    margin-bottom:4.00pt; 
    font-family:Arial; 
    font-size:14pt; 
    font-weight:bold;  }
H2 { 
    margin-left:5.65pt; 
    margin-right:6.50pt; 
    margin-top:6.00pt; 
    margin-bottom:4.00pt; 
    font-family:Arial; 
    font-size:14pt; 
    font-weight:bold;  }
H3 { 
    margin-left:5.75pt; 
    margin-right:6.50pt; 
    margin-top:6.00pt; 
    margin-bottom:2.00pt; 
    font-family:Arial; 
    font-size:12pt; 
    color:green; 
    font-weight:bold;  }
H4 { 
    margin-left:28.35pt; 
    margin-right:6.50pt; 
    margin-top:6.00pt; 
    margin-bottom:2.00pt; 
    font-family:Arial; 
    font-size:11pt; 
    color:green; 
    font-weight:bold;  }
H5 { 
    margin-left:5.75pt; 
    margin-right:6.50pt; 
    margin-top:12.00pt; 
    margin-bottom:3.00pt; 
    font-family:Arial; 
    font-size:11pt;  }
H6 { 
    margin-left:5.75pt; 
    margin-right:6.50pt; 
    margin-top:12.00pt; 
    margin-bottom:3.00pt; 
    font-family:Arial; 
    font-size:11pt; 
    font-style:italic;  }
H6.Heading7 { 
             margin-left:5.75pt; 
             margin-right:6.50pt; 
             margin-top:12.00pt; 
             margin-bottom:3.00pt; 
             font-family:Arial; 
             font-size:10pt;  }
H6.Heading8 { 
             margin-left:5.75pt; 
             margin-right:6.50pt; 
             margin-top:12.00pt; 
             margin-bottom:3.00pt; 
             font-family:Arial; 
             font-size:10pt; 
             font-style:italic;  }
H6.Heading9 { 
             margin-left:5.75pt; 
             margin-right:6.50pt; 
             margin-top:12.00pt; 
             margin-bottom:3.00pt; 
             font-family:Arial; 
             font-size:9pt; 
             font-style:italic;  }
P.footnote-text { 
                 margin-left:5.75pt; 
                 margin-right:6.50pt; 
                 margin-top:4.00pt; 
                 margin-bottom:1; 
                 font-family:Arial; 
                 font-size:10pt;  }
P.Topic-Text-Indent { 
                     margin-left:15.10pt; 
                     margin-right:6.50pt; 
                     margin-top:4.00pt; 
                     margin-bottom:1; 
                     font-family:Arial; 
                     font-size:10pt;  }
P.Normal-Indent { 
                 margin-left:36.00pt; 
                 margin-right:6.50pt; 
                 margin-top:4.00pt; 
                 margin-bottom:1; 
                 font-family:Arial; 
                 font-size:10pt;  }
P.Tip-Note-Heading { 
                    margin-left:5.75pt; 
                    margin-right:6.50pt; 
                    margin-top:6.00pt; 
                    margin-bottom:1; 
                    font-family:Arial; 
                    font-size:10pt; 
                    font-weight:bold;  }
P.Tip-Note-Text { 
                 margin-left:15.10pt; 
                 margin-right:6.50pt; 
                 margin-top:4.00pt; 
                 margin-bottom:1; 
                 font-family:Arial; 
                 font-size:10pt;  }
P.Tip-Note-Text-Bulleted { 
                          margin-left:15.10pt; 
                          margin-right:6.50pt; 
                          margin-top:4.00pt; 
                          margin-bottom:1; 
                          text-indent:0; 
                          font-family:Arial; 
                          font-size:10pt;  }
P.Topic-Text-Bulleted { 
                       margin-left:15.10pt; 
                       margin-right:6.50pt; 
                       margin-top:4.00pt; 
                       margin-bottom:1; 
                       text-indent:0; 
                       font-family:Arial; 
                       font-size:10pt;  }
P.Topic-Text-Numbered { 
                       margin-left:15.10pt; 
                       margin-right:6.50pt; 
                       margin-top:4.00pt; 
                       margin-bottom:1; 
                       text-indent:0; 
                       font-family:Arial; 
                       font-size:10pt;  }
P.Topic-Text-Onestep { 
                      margin-left:15.10pt; 
                      margin-right:6.50pt; 
                      margin-top:4.00pt; 
                      margin-bottom:1; 
                      text-indent:0; 
                      font-family:Arial; 
                      font-size:10pt;  }
P.header { 
          margin-left:5.75pt; 
          margin-right:6.50pt; 
          margin-top:4.00pt; 
          margin-bottom:1; 
          font-family:Arial; 
          font-size:10pt;  }
P.footer { 
          margin-left:5.75pt; 
          margin-right:6.50pt; 
          margin-top:4.00pt; 
          margin-bottom:1; 
          font-family:Arial; 
          font-size:10pt;  }
P.Block-Text { 
              margin-left:5.75pt; 
              margin-right:6.50pt; 
              margin-top:4.00pt; 
              margin-bottom:1; 
              font-family:Arial; 
              font-size:10pt;  }
P.Body-Text { 
             margin-right:6.50pt; 
             margin-top:4.00pt; 
             margin-bottom:1; 
             font-family:Arial; 
             font-size:10pt;  }

/*
     FILE ARCHIVED ON 09:49:17 Sep 12, 2004 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:18:14 Sep 23, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.683
  exclusion.robots: 0.027
  exclusion.robots.policy: 0.012
  esindex: 0.013
  cdx.remote: 41.722
  LoadShardBlock: 316.253 (3)
  PetaboxLoader3.datanode: 171.721 (4)
  PetaboxLoader3.resolve: 517.925 (2)
  load_resource: 387.454
*/